[submodule "concourse-bosh-deployment"]
	path = concourse-bosh-deployment
	url = https://github.com/concourse/concourse-bosh-deployment.git
[submodule "prometheus-boshrelease"]
	path = prometheus-boshrelease
	url = https://github.com/bosh-prometheus/prometheus-boshrelease.git
[submodule "elastic-stack-bosh-deployment"]
	path = elastic-stack-bosh-deployment
	url = https://github.com/bosh-elastic-stack/elastic-stack-bosh-deployment.git
[submodule "zipkin-boshrelease"]
	path = zipkin-boshrelease
	url = https://github.com/making/zipkin-boshrelease.git
